/* Variabler*/
$bg-color: #FFFCF5;
$primary-color: #AEBCD2;
$secondary-color: #EFF5FF;
$accent-color: #405069;
$text-color: #010101;
$font-text: "Roboto", sans-serif; 
$font-titel: "Caveat Brush", serif;
$font-header: "eigerdals", sans-serif;


/*Mixins*/