@use "partial";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: partial.$text-color;
}

p{
    font-family: partial.$font-text;
    font-size: 20px;
}

h1{
    font-family: partial.$font-header;
    font-size: 30px;
}

h2, h3, h4{
    font-family: partial.$font-header;
    font-size: 24px;
}


.body{
    background-color: partial.$bg-color;
}

.App {
    padding-bottom: 100px; 
    background-color: partial.$bg-color;
    min-height: 100vh;
  }

  label{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

/* header */
.header {
    background-color: partial.$primary-color;
    padding: 20px;
    display: grid;
    grid-template-columns: 85% 15%;
    border-bottom-right-radius: 50px;

    .date{
        font-size: 12px;
        margin-top: 20px;
    }

    .welcome-text{
        margin-bottom: 20px;
        font-family: partial.$font-titel;
        font-size: 35px;
    }

    .right{
        display: flex;
        justify-content: flex-end;
        grid-column: 1 / 2 / 2 / 3;
    }

    

    .personalize-button{
        border: none;
        background: transparent;
        display: flex;
        justify-self: flex-end;

        .img-gear{
            background-color: transparent;
            max-height: 60px;
        }

        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }
    }

    .text-background{
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5em;
        border-radius: 10px 0px 0px 10px;
        
    }
    .text-background2{
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.5em;
        border-radius: 0px 10px 45px 0px;
    }
    
}

/* footer */
.sticky-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: partial.$primary-color; 
    text-align: center;
    padding: 10px 0;
    z-index: 1000; 
    border-top-left-radius: 50px;

    p {
        font-size: 10px;
    }
  
    .button-container{
        display: flex;
        justify-content: space-around;

        li{
            list-style-type: none;
        }
    }
    
    .link-button{
        width: 40px;
        background-color: partial.$accent-color;
        border-radius: 50%;
        padding: 5px;

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}

/*Home-page*/
.home-page{
    margin: 20px;

    h1{
        margin-bottom: 15px;
    }

    a{
        text-decoration: none;
    }
   
    li{
        font-family: partial.$font-header; 
        font-size: 24px;
        font-weight: 600;
        list-style-type: none;
        border: 2px solid black;
        border-radius: 10px;   
        margin-top: 10px;
        padding: 10px;
    }

    .create-list{
        display: flex;
        justify-content: right;

        input{
            height: 35px;
            border: 2px solid black;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: partial.$bg-color;
            padding-left: 10px;
            
            &:hover{
                cursor: pointer;
                background-color: partial.$primary-color;
            }

            &::placeholder{
                font-weight: bold;
                color: partial.$text-color;
                opacity: 0.5;
                font-family: partial.$font-text;
            }
        }

        button{
            padding: 0 5px 0 5px;
            border: 2px solid black;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 20px;
            background-color: partial.$bg-color;

            &:hover{
                cursor: pointer;
                background-color: partial.$accent-color;
            }
        }
    }

    .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        &:hover{
            cursor: pointer;
            background-color: partial.$accent-color;
            color: white;
        }
    }
    
    .delete-button {
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
            margin-top: 8px;
        }

        &:hover{
            transform: scale(1.2);
        }
    }

    .list-link{
        width: 94%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover{
            cursor: pointer;
            background-color: partial.$accent-color;
            color: white;
        }
        

        .task-count{
            font-size: 12px;
            font-weight: 200;
            font-family: partial.$font-text;

        }
    }

    .no-tasks-text{
        margin-top: 20px;
    }

    .bucketlist-overskrift{
        margin-top: 2em;
    }

    .reveal-premade-lists {
        margin-top: 20px;
        text-align: left;
      }
      
      .reveal-image {
        width: 100px; 
        cursor: pointer;
        border-radius: 10px;
        margin-right: 1em;
        margin-bottom: 1em;
        
        &:hover {
            transform: scale(1.05);
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
        }
    }
    .reveal-image.faded {
        opacity: 0.5;
        cursor: not-allowed;
        }
}

/* Create a new task */
.new-task{
    margin: 10px;
    width: 90%;
    text-align: center;

    h1{
        padding-bottom: 10px;
        text-align: left;
    }

    #list-select{
        width: 100%;
        padding: 5px;
        font-family: partial.$font-text;
        border-radius: 7px;
        border: solid 1px black;
        color: partial.$text-color;
        background-color: partial.$secondary-color;
    }

    input, textarea{
        margin-top: 10px;
        width: 100%;
        padding: 7px;
        border-radius: 7px;
        border: solid 1px black;
        background-color: partial.$secondary-color;

            &::placeholder{
                color: partial.$text-color;
                font-family: partial.$font-text;
            }
    }

    textarea{
        height: 100px;
    }

    .priority-container {
        margin: 1em 0;

        label {
            font-weight: bold;
            font-family: partial.$font-text;
        }

        select {
            padding: 0.5em;
            width: 100%;
            border-radius: 7px;
            border: solid 1px black;
            background-color: partial.$secondary-color;
            font-family: partial.$font-text;
            color: partial.$text-color;
            cursor: pointer;

                &:focus {
                    border-color: partial.$accent-color;
                    outline: none;
                    box-shadow: partial.$accent-color;
                }
        }
    }

    button{
        width: 170px;
        height: 50px;
        border-radius: 20px;
        color: partial.$bg-color;
        font-size: 24px;
        font-weight: 400;
        font-family: partial.$font-text;
        background-color: partial.$accent-color;

        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
    
}

/* ListPage */
.back-button{
    margin-left: 1em;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: partial.$font-text;
    background-color: transparent;
    border-radius: 7px;
    border: solid 1px black;
    color: partial.$text-color;
    padding: 3px;

    img{
        width: 10px;
        transform: rotate(180deg);
    }

    &:hover{
        cursor: pointer;
        background-color: partial.$accent-color;
        color: white;
    }
}
.list-page{
    margin: 10px;
    color: partial.$bg-color;
    font-family: partial.$font-text;

    h1{
        margin: 10px;
        margin-top: 20px;
    }

        .task-item { 
            margin-bottom: 15px; 
            padding: 10px;
            list-style-type: none;

            .task-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .task-checkbox {
                    width: 20px; 
                    height: 20px;
                    margin-right: 15px;
                    flex-shrink: 0;
                    min-width: 20px;
                    min-height: 20px;
                }

                .task-name {
                    font-size: 18px;
                    flex-grow: 1;
                    border-bottom: solid 1px black;
                    margin-bottom: 5px;
                    font-family: partial.$font-text;
        
                    &.completed {
                        text-decoration: line-through;
                        opacity: 0.5;
                    }
                }

                .task-actions {
                    display: flex;
                    gap: 10px; 
                    margin-left: 15px;
                    
                    button {
                        background: none;
                        border: none;
                        cursor: pointer;
            
                        img {
                            width: 20px;
                            height: 20px;
                        }

                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }

    .actions{
        margin: 10px;
        display: flex;
        justify-content: space-between;
            
        .filter-select{
            font-family: partial.$font-text;
            border-radius: 7px;
            border: solid 1px black;
            color: partial.$text-color;
            background-color: partial.$bg-color;

            &:hover{
                cursor: pointer;
            }
        }
        
        .add-task{
            font-family: partial.$font-text;
            padding: 5px;
            border-radius: 7px;
            border: solid 1px black;
            color: partial.$text-color;
            background-color: partial.$bg-color;

            &:hover{
                cursor: pointer;
                background-color: partial.$accent-color;
                color: white;
            }
        }
    }
    
    /*prioritet visualiseres med en prik*/
    .priority-dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .priority-dot.high {
        background-color: #DB3838; /* Rød for høj prioritet */
    }

    .priority-dot.medium {
        background-color: #DDDD4C; /* Gul for medium prioritet */
    }

    .priority-dot.low {
        background-color: #96E4A7; /* Grøn for lav prioritet */
    }

    .task-description {
        margin-top: 10px;
    }
    
    .see-more {
        background-color: transparent;
        margin-bottom: 5px;
        color: partial.$text-color;
        font-family: partial.$font-text;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;
    
            &:hover {
                transform: scale(1.1);
            }
    }
    
    .description-text {
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px;
        color: partial.$text-color;
        line-height: 1.4;

        p{
            font-size: 14px;
            font-family: partial.$font-text;
        }
    }
}

.badge-display{
    margin: 1em;
    
    h1{
        margin-bottom: 10px;
    }

    .badge-streak{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        div{
            display: flex;
            justify-content: center;

            img{
                max-width: 100%;
                width: 130px;
                margin: 20px;
            }
        }
    }

    .badge-tasks, .badge-bucketlists, .badge-use{
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        div{
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            overflow-y: hidden;

            img{
                max-width: 100%;
                width: 110px;
                margin: 20px;
            }
    }}
}

.desktop-layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* Personalize page */
.p-styling{
    
    h1{
        padding: 0.5em;
    }
    h2{
        padding-left: 0.8em;
        padding-top: 0.5em;
    }

    hr{
        width: 100%;
        margin-bottom: 1.5em;
    }

    .theme-container{
        margin: 1em;
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        
        img{
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
            }
        }
        .selected-theme{
            outline: 4px solid partial.$accent-color;
            border-radius: 15px;
        }
    }

    

    .avatar-grid{
        padding: 1.2em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        min-height: auto;
        img{
            height: 70px;
            
            background-color: transparent;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }
        }
        .selected-avatar{
            outline: 2px solid partial.$accent-color;
            padding: 0.3em;
            border-radius: 20px;
        }
    }

    .reset-button{
        margin-left: 1em;
        margin-bottom: 3em;
        background-color: partial.$accent-color;
        color: partial.$bg-color;
        padding: 0.5em 1em;
        border-radius: 10px;
        font-family: 'eigerdals', sans serif;
        cursor: pointer;
        &:hover{
            background-color: partial.$bg-color;
            color: partial.$text-color;
        }
    }

    .nickname-form{
       input{
        margin: 1em 0 1em 1em;
        padding: 1em;
        border-radius: 10px;
        min-width: 30%;
        margin-right: none;
       }
    }
    .done-button{
        margin-left: 1em;
        margin-top: 1em;
        background-color: partial.$accent-color;
        color: partial.$bg-color;
        padding: 0.5em 2em;
        border-radius: 10px;
        font-family: 'eigerdals', sans serif;
        font-size: 1.2em;
        cursor: pointer;
        &:hover{
            background-color: partial.$bg-color;
            color: partial.$text-color;
        }
    }
}

/* pop-up - delete or cancel */

.confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .confirm-content {
        background: partial.$bg-color;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.3s ease-in-out;

        .confirm-actions {
            display: flex;
            justify-content: space-around;
            margin-top: 15px;

            .confirm-btn {
                background-color: partial.$primary-color;
                width: 80px;
                padding: 10px 20px;
                border-radius: 10px;
                border: solid 1px black;
                cursor: pointer;
                transition: opacity 0.2s ease-in-out;
            }
            
            .cancel-btn {
                background-color: partial.$accent-color;
                color: partial.$bg-color;
                width: 80px;
                padding: 10px 20px;
                border-radius: 10px;
                border: solid 1px black;
                cursor: pointer;
                transition: opacity 0.2s ease-in-out;
            }
            
            .confirm-btn:hover,
            .cancel-btn:hover {
                opacity: 0.9;
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

   
}

 /* Nocreate på bucketlisterne*/

 .nocreate-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .nocreate {
        background: white;
        padding: 20px;
        border-radius: 8px;
        max-width: 500px;
        width: 100%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.3s ease-in-out; /* Add fade-in animation */
    }

    .nocreate-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
    }

    .nocreate-body {
        padding-top: 10px;
    }
    
    .close-button {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}






